<section class="all-movies">
  <div class="container">
    <div class="flex-wrapper">
      <div class="title-wrapper">
        <p class="section-subtitle lng-trstreaming">Online Streaming</p>

        <h2 class="h2 section-title lng-trtoprated">Top Rated</h2>
      </div>
      <ul class="filter-list">
        <li class="filter-item">
          <button class="filter-btn lng-trfilter1" data-filter name="28">
            Action
          </button>
        </li>
        <li class="filter-item">
          <button class="filter-btn lng-trfilter2" data-filter name="18">
            Drama
          </button>
        </li>

        <li class="filter-item">
          <button class="filter-btn lng-trfilter3" data-filter name="35">
            Comedy
          </button>
        </li>
        <li class="filter-item">
          <button class="filter-btn lng-trfilter4" data-filter name="10751">
            Family
          </button>
        </li>
        <li class="filter-item">
          <button class="filter-btn lng-trfilter5" data-filter name="14">
            Fantasy
          </button>
        </li>
        <li class="filter-item">
          <button class="filter-btn lng-trfilter6" data-filter name="53">
            Thriller
          </button>
        </li>
      </ul>
    </div>

    <ul class="all-movies-list has-scrollbar"></ul>
  </div>
  <button class="load-more-btn lng-trshowmore" data-action="load-more">
    Show More
  </button>

  <button
    id="paginationBtn"
    class="load-more-btn lng-mmshowmore"
    data-action="paginate"
    style="display: none"
  >
    Show More
  </button>
</section>
