<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-brand-wrapper">
        <a href="/src/index.html" class="logo">
          <img id="logo-img" src="/src/img/logo.svg" alt="Filmstack logo" />
          <p>Filmstack</p>
        </a>

        <ul class="footer-list">
          <li>
            <a href="/src/index.html" class="footer-link lng-fhome">Home</a>
          </li>

          <li>
            <a href="/src/movie.html" class="footer-link lng-fmovie">Movie</a>
          </li>

          <li>
            <a href="/src/all-tvshow.html" class="footer-link lng-ftvshow"
              >TV Show</a
            >
          </li>

          <li>
            <a href="/src/all-top-rated.html" class="footer-link lng-ftoprated"
              >Top Rated</a
            >
          </li>
        </ul>
      </div>

      <div class="divider"></div>

      <div class="quicklink-wrapper">
        <ul class="quicklink-list">
          <li>
            <a href="#" class="quicklink-link lng-ffaq">Faq</a>
          </li>

          <li>
            <a href="#" class="quicklink-link lng-fhelp">Help center</a>
          </li>

          <li>
            <a href="#" class="quicklink-link lng-fterms">Terms of use</a>
          </li>

          <li>
            <a href="#" class="quicklink-link lng-fprivacy">Privacy</a>
          </li>
        </ul>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        &copy; 2023 <a href="#">MaksBora</a>. All Rights Reserved
      </p>

      <img
        src="/src/img/footer-bottom-img.png"
        alt="Online banking companies logo"
        class="footer-bottom-img"
      />
    </div>
  </div>
</footer>
