<header class="header" data-header>
  <div class="container">
    <div class="overlay" data-overlay></div>

    <a href="/src/index.html" class="logo">
      <img id="logo-img" src="/src/img/logo.svg" alt="FilmStack logo" />
      <p>Filmstack</p>
    </a>

    <div class="header-actions">
      <button class="search-btn">
        <ion-icon name="search-outline"></ion-icon>
      </button>

      <div class="lang-wrapper">
        <label for="language">
          <ion-icon name="globe-outline"></ion-icon>
        </label>

        <select name="language" id="language">
          <option value="en">EN</option>
          <option value="au">UK</option>
          <option value="au">PL</option>
        </select>
      </div>

      <button class="btn btn-primary">Sign in</button>
    </div>

    <button class="menu-open-btn" data-menu-open-btn>
      <ion-icon name="reorder-two"></ion-icon>
    </button>

    <nav class="navbar" data-navbar>
      <div class="navbar-top">
        <a href="/src/index.html" class="logo">
          <img src="/src/img/logo.svg" alt="FilmStack logo" />
        </a>

        <button class="menu-close-btn" data-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="navbar-list">
        <li>
          <a href="/src/index.html" class="navbar-link">Home</a>
        </li>

        <li>
          <a href="/src/movie.html" class="navbar-link">Movie</a>
        </li>

        <li>
          <a href="/src/all-tvshow.html" class="navbar-link">Tv Show</a>
        </li>

        <li>
          <a href="#" class="navbar-link">Web Series</a>
        </li>

        <li>
          <a href="#" class="navbar-link">Pricing</a>
        </li>
      </ul>

      <ul class="navbar-social-list">
        <li>
          <a href="#" class="navbar-social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link"> </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link"> </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link"> </a>
        </li>

        <li>
          <a href="#" class="navbar-social-link"> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
