<!--- #UPCOMING -->

<section class="released">
  <div class="container">
    <div class="flex-wrapper">
      <div class="title-wrapper">
        <p class="section-subtitle lng-streaming">Online Streaming</p>

        <h2 class="h2 section-title lng-release">Release Movies</h2>
      </div>

      <ul class="filter-list">
        <li>
          <button class="filter-btn lng-moviebtn">Movies</button>
        </li>

        <li>
          <button class="filter-btn lng-tvbtn">TV Shows</button>
        </li>

        <li>
          <button class="filter-btn lng-animebtn">Anime</button>
        </li>
      </ul>
    </div>

    <ul class="movies-list has-scrollbar"></ul>
  </div>
</section>
