<!--- #TOP RATED -->

<section class="top-rated">
  <div class="container">
    <p class="section-subtitle lng-tstreaming">Online Streaming</p>

    <h2 class="h2 section-title lng-topratedsec">Top Rated Movies</h2>

    <ul class="filter-list">
      <li>
        <button class="filter-btn lng-mfilter">Movies</button>
      </li>

      <li>
        <button class="filter-btn lng-tfilter">TV Shows</button>
      </li>

      <li>
        <button class="filter-btn lng-dfilter">Documentary</button>
      </li>

      <li>
        <button class="filter-btn lng-sfilter">Sports</button>
      </li>
    </ul>

    <ul class="movies-list" data-list></ul>
  </div>
</section>
