<!--- #TOP RATED -->

<section class="top-rated">
  <div class="container">
    <p class="section-subtitle">Online Streaming</p>

    <h2 class="h2 section-title">Top Rated Movies</h2>

    <ul class="filter-list">
      <li>
        <button class="filter-btn">Movies</button>
      </li>

      <li>
        <button class="filter-btn">TV Shows</button>
      </li>

      <li>
        <button class="filter-btn">Documentary</button>
      </li>

      <li>
        <button class="filter-btn">Sports</button>
      </li>
    </ul>

    <ul class="movies-list" data-list></ul>
  </div>
</section>
