<!--- #UPCOMING -->

<section class="upcoming">
  <div class="container">
    <div class="flex-wrapper">
      <div class="title-wrapper">
        <p class="section-subtitle">Online Streaming</p>

        <h2 class="h2 section-title">Release Movies</h2>
      </div>

      <ul class="filter-list">
        <li>
          <button class="filter-btn">Movies</button>
        </li>

        <li>
          <button class="filter-btn">TV Shows</button>
        </li>

        <li>
          <button class="filter-btn">Anime</button>
        </li>
      </ul>
    </div>

    <ul class="movies-list has-scrollbar"></ul>
  </div>
</section>
