@import '../css/common.css';

.released {
  background: url('../../src/img/released/released-bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
}

.released .flex-wrapper {
  margin-bottom: 50px;
}

.released .section-title {
  margin-bottom: 30px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.released .filter-btn {
  color: var(--white);
  background: var(--raisin-black);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  border: 2px solid var(--gunmetal-1);
  padding: 12px 26px;
  border-radius: 50px;
}

.released .filter-btn:focus {
  border-color: var(--citrine);
}

.released .movies-list > li {
  min-width: 100%;
  scroll-snap-align: start;
}

/**
 * MOVIE CARD
 */

.movies-list {
  display: grid;
  gap: 50px;
}

.movie-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card .card-banner {
  position: relative;
  background: var(--gunmetal-1);
  aspect-ratio: 2 / 3;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: var(--transition-1);
}

.movie-card .card-banner::after {
  content: '';
  position: absolute;
  inset: 0;
  transition: var(--transition-1);
}

.movie-card .card-banner:hover {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5);
}

.movie-card .card-banner:hover::after {
  background: hsla(0, 0%, 100%, 0.05);
}

.movie-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.movie-card .card-title {
  color: var(--white);
  font-size: var(--fs-7);
  transition: var(--transition-1);
}

.movie-card .card-title:is(:hover, :focus) {
  color: var(--citrine);
}

.movie-card .title-wrapper time {
  color: var(--citrine);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
}

.movie-card .card-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.movie-card .badge {
  color: var(--citrine);
}

.movie-card .duration {
  margin-left: auto;
}

.movie-card :is(.duration, .rating) {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gainsboro);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
}

.movie-card :is(.duration, .rating) ion-icon {
  font-size: 13px;
  --ionicon-stroke-width: 50px;
  color: var(--citrine);
}

/* MEDIA */

@media (min-width: 550px) {
  .released .movies-list > li {
    min-width: calc(50% - 15px);
  }

  .movies-list {
    grid-template-columns: 1fr 1fr;
    gap: 60px 30px;
  }
}
@media (min-width: 992px) {
  .released .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .released :is(.section-subtitle, .section-title) {
    text-align: left;
  }

  .released .section-title {
    margin-bottom: 0;
  }

  .released .movies-list > li {
    min-width: calc(33.33% - 20px);
  }

  .movies-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .released .movies-list > li {
    min-width: calc(25% - 22.5px);
  }

  .movies-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
