@import '../../css/common.css';

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 21px;
  margin-left: 48%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.5s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2.3px;
  background-color: var(--gunmetal-1);
  border-radius: 50%;
  transition: 0.5s;
}

.switch input:checked + .slider {
  background-color: var(--citrine);
}

.switch input:checked + .slider:before {
  transform: translateX(18px);
}

/*=================================================*/
/* INDEX BODY */
/*=================================================*/

body.day-mode .released {
  background: none;
  /* background: none;
  background-image: url('../../img/day-theme/test2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background: linear-gradient(
      to left,
      #eee 0%,
      #eef calc(50% - 200px),
      transparent calc(50% - 30px),
      transparent calc(50% + 30px),
      #eef calc(50% + 560px),
      #eee 100%
    ),
    url('../../img/day-theme/test2.jpg') no-repeat top center;

  /* background-image: url('../../img/day-theme/test2.jpg');
  background-size: cover; */
  transition: background 0.5s ease;
}

body.day-mode .service {
  background: none;
  /* 
  background-image: url('../../img/day-theme/test2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background: linear-gradient(
      to right,
      #eee 0%,
      #eef calc(50% - 160px),
      transparent calc(50% - 30px),
      transparent calc(50% + 30px),
      #eef calc(50% + 160px),
      #eee 100%
    ),
    url('../../img/day-theme/test2.jpg') no-repeat top center;

  /* background-image: url('../../img/day-theme/test2.jpg');
  background-size: cover; */
  transition: background 0.5s ease;
}

body.day-mode .top-rated {
  background: none;
  /* background: none;
  background-image: url('../../img/day-theme/test2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background: linear-gradient(
      to right,
      #eee 0%,
      #eef calc(50% - 160px),
      transparent calc(50% - 30px),
      transparent calc(50% + 30px),
      #eef calc(50% + 360px),
      #eee 100%
    ),
    url('../../img/day-theme/test2.jpg') no-repeat top center;

  transition: background 0.5s ease;
}

body.day-mode .tv-series {
  background: none;
  /* background-image: url('../../img/day-theme/test2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  background: linear-gradient(
      to right,
      #eee 0%,
      #eef calc(50% - 160px),
      transparent calc(50% - 30px),
      transparent calc(50% + 30px),
      #eef calc(35% + 460px),
      #eee 100%
    ),
    url('../../img/day-theme/test2.jpg') no-repeat top center;

  transition: background 0.5s ease;
}
